@keyframes barAnimate {
    0% {
        width: 10px;
    }
    25% {
        width: 30px;
    }
    50% {
        width: 35px;
    }
    100% {
        width: 40px;
    }
}
@keyframes closeNav {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(90deg);
    }
    25% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    50% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes serviceBG {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    50% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes serviceBGs {
    0% {
        left: -10%
        top: -10%;
    }
    25% {
        left: 90%;
        top: 0;
    }
    50% {
        left: 90%;
        top: 90%;
    }
    100% {
        left: 0%;
        top: 90%;
    }
}